@model EventRecommender.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organizer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organizer.Name)
        </dd>
    </dl>
</div>

<form asp-action="MarkInteraction" method="post" class="d-inline">
    <input type="hidden" name="eventId" value="@Model.EventId" />
    <input type="hidden" name="status" value="Interested" />
    <button type="submit" class="btn btn-outline-primary">Interested</button>
</form>

<form asp-action="MarkInteraction" method="post" class="d-inline ms-2">
    <input type="hidden" name="eventId" value="@Model.EventId" />
    <input type="hidden" name="status" value="Going" />
    <button type="submit" class="btn btn-primary">Going</button>
</form>

<!-- optional rating -->
<form asp-action="MarkInteraction" method="post" class="d-inline ms-2">
    <input type="hidden" name="eventId" value="@Model.EventId" />
    <input type="hidden" name="status" value="@ViewBag.MyStatus" />
    <select name="rating" class="form-select d-inline w-auto">
        <option value="">Rate…</option>
        @for (var i = 1; i <= 5; i++)
        {
            <option value="@i">@i</option>
        }
    </select>
    <button type="submit" class="btn btn-outline-secondary ms-1">Save</button>
</form>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.EventId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<script>
    const start = Date.now();
    window.addEventListener('beforeunload', () => {
      const dwell = Date.now() - start;
      navigator.sendBeacon('/Events/Dwell', new Blob([JSON.stringify({
        eventId: @Model.EventId, dwellMs: dwell
      })], { type: 'application/json' }));
    });
</script>